# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# SVN files
.svn/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon 
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
*.dll
*.exe
data/html5/2D/AGKPlayer.asm.js
data/html5/2D/background.jpg
data/html5/2D/AGKPlayer.html
data/html5/2D/AGKPlayer.html.mem
data/html5/2Ddynamic/AGKPlayer.html
data/html5/2Ddynamic/made-with-appgamekit.png
data/html5/3D/AGKPlayer.js
data/html5/3Ddynamic/AGKPlayer.asm.js
data/html5/3D/made-with-appgamekit.png
data/html5/2D/AGKPlayer.js
data/html5/2D/made-with-appgamekit.png
data/html5/2Ddynamic/AGKPlayer.asm.js
data/html5/2Ddynamic/AGKPlayer.html.mem
data/html5/2Ddynamic/AGKPlayer.js
data/html5/2Ddynamic/background.jpg
data/html5/3D/AGKPlayer.asm.js
data/html5/3D/AGKPlayer.html
data/html5/3D/AGKPlayer.html.mem
data/html5/3D/background.jpg
data/html5/3Ddynamic/AGKPlayer.html
data/html5/3Ddynamic/AGKPlayer.html.mem
data/html5/3Ddynamic/AGKPlayer.js
data/html5/3Ddynamic/background.jpg
data/html5/3Ddynamic/made-with-appgamekit.png
data/android/sourceAmazon/AndroidManifest.xml
data/android/sourceGoogle/AndroidManifest.xml
data/android/sourceOuya/AndroidManifest.xml
data/ios/source/Icons.xcassets/Contents.json
data/ios/source/Icons.xcassets/AppIcon.appiconset/icon-180.png
data/ios/source/AppGameKit Player.app/AppIcon60x60@2x.png
data/ios/source/AppGameKit Player.app/AppIcon60x60@3x.png
data/ios/source/AppGameKit Player.app/AppIcon76x76@2x~ipad.png
data/ios/source/AppGameKit Player.app/AppIcon76x76~ipad.png
data/ios/source/AppGameKit Player.app/AppIcon83.5x83.5@2x~ipad.png
data/ios/source/AppGameKit Player.app/Assets.car
data/ios/source/AppGameKit Player.app/Default-375w-667h@2x.png
data/ios/source/AppGameKit Player.app/Default-414w-736h@3x.png
data/ios/source/AppGameKit Player.app/Default-568h@2x.png
data/ios/source/AppGameKit Player.app/Default-Landscape-1366h@2x~ipad.png
data/ios/source/AppGameKit Player.app/Default-Landscape@2x~ipad.png
data/ios/source/AppGameKit Player.app/Default-Landscape~ipad.png
data/ios/source/AppGameKit Player.app/Default-Portrait-1366h@2x~ipad.png
data/ios/source/AppGameKit Player.app/Default-Portrait@2x~ipad.png
data/ios/source/AppGameKit Player.app/Default-Portrait~ipad.png
data/ios/source/AppGameKit Player.app/Default@2x.png
data/ios/source/AppGameKit Player.app/GoogleService-Info.plist
data/ios/source/AppGameKit Player.app/Info.plist
data/ios/source/AppGameKit Player.app/MainWindow.nib
data/ios/source/AppGameKit Player.app/PkgInfo
data/ios/source/AppGameKit Player.app/UntitledViewController.nib
data/ios/source/Icons.xcassets/AppIcon.appiconset/Contents.json
data/ios/source/Icons.xcassets/AppIcon.appiconset/icon-1024.png
data/ios/source/Icons.xcassets/AppIcon.appiconset/icon-120.png
data/ios/source/Icons.xcassets/AppIcon.appiconset/icon-152.png
data/ios/source/Icons.xcassets/AppIcon.appiconset/icon-167.png
data/ios/source/Icons.xcassets/AppIcon.appiconset/icon-76.png
AGKIDE.VC.db
AGKIDE.VC.VC.opendb
AGKIDE.vcxproj.user
geany_private.res
plugins/demoplugin.o
Debug/AGKIDE.log
.vs/AGKIDE/v14/.suo
scintilla/LexerSimple.o
scintilla/LexerNoExceptions.o
scintilla/LexerModule.o
scintilla/LexCPP.o
scintilla/LexCOBOL.o
scintilla/LexBasic.o
scintilla/LexBash.o
scintilla/LexAsm.o
scintilla/LexAda.o
scintilla/LexAbaqus.o
scintilla/KeyMap.o
scintilla/CharacterCategory.o
scintilla/CharClassify.o
scintilla/CellBuffer.o
scintilla/Catalogue.o
scintilla/CaseFolder.o
scintilla/CaseConvert.o
scintilla/CallTip.o
scintilla/AutoComplete.o
scintilla/Accessor.o
plugins/splitwindow.o
plugins/saveactions.o
plugins/deps.mak
Release/AGKIDE.log
scintilla/LexNsis.o
scintilla/LexMatlab.o
scintilla/LexMarkdown.o
scintilla/LexLua.o
scintilla/LexLisp.o
scintilla/LexLaTeX.o
scintilla/LexHaskell.o
scintilla/LexHTML.o
scintilla/Indicator.o
scintilla/ExternalLexer.o
scintilla/Editor.o
scintilla/Document.o
scintilla/Decoration.o
scintilla/ContractionState.o
scintilla/CharacterSet.o
scintilla/LexPerl.o
scintilla/LexFortran.o
scintilla/LexForth.o
scintilla/LexErlang.o
scintilla/LexD.o
scintilla/LexCmake.o
scintilla/LexCaml.o
scintilla/LexCSS.o
scintilla/deps.mak
scintilla/LexPascal.o
scintilla/LexPO.o
scintilla/LexOthers.o
scintilla/LexerBase.o
src/build.o
src/about.o
scintilla/scintilla.a
scintilla/scintilla-marshal.o
scintilla/XPM.o
scintilla/WordList.o
scintilla/ViewStyle.o
scintilla/UniConversion.o
scintilla/StyleContext.o
scintilla/Style.o
scintilla/Selection.o
scintilla/ScintillaGTK.o
scintilla/ScintillaBase.o
scintilla/RunStyles.o
scintilla/RESearch.o
scintilla/PropSetSimple.o
scintilla/PositionCache.o
scintilla/PlatGTK.o
scintilla/PerLine.o
scintilla/LineMarker.o
scintilla/LexYAML.o
scintilla/LexVerilog.o
src/callbacks.o
scintilla/LexVHDL.o
scintilla/LexTxt2tags.o
scintilla/LexTCL.o
scintilla/LexSQL.o
scintilla/LexRust.o
scintilla/LexRuby.o
scintilla/LexR.o
scintilla/LexPython.o
scintilla/LexPowerShell.o
tagmanager/src/tm_workspace.o
tagmanager/ctags/entry.o
tagmanager/ctags/docbook.o
tagmanager/ctags/diff.o
tagmanager/ctags/deps.mak
tagmanager/ctags/ctags.o
tagmanager/ctags/ctags.a
tagmanager/ctags/css.o
src/pluginutils.o
src/plugins.o
src/notebook.o
src/navqueue.o
src/msgwindow.o
src/keyfile.o
src/keybindings.o
src/highlighting.o
src/geanywraplabel.o
src/geanyobject.o
src/geanymenubuttonaction.o
src/geanyentryaction.o
src/filetypes.o
tagmanager/src/tm_work_object.o
tagmanager/src/tm_tagmanager.o
tagmanager/src/tm_tag.o
tagmanager/src/tm_symbol.o
tagmanager/src/tm_source_file.o
tagmanager/src/tm_project.o
tagmanager/src/tm_file_entry.o
tagmanager/src/tagmanager.a
tagmanager/ctags/read.o
tagmanager/ctags/r.o
tagmanager/ctags/cobol.o
tagmanager/ctags/c.o
tagmanager/ctags/basic.o
tagmanager/ctags/asm.o
tagmanager/ctags/asciidoc.o
src/socket.o
src/sidebar.o
src/search.o
src/sciwrappers.o
src/project.o
src/printing.o
src/prefs.o
tagmanager/ctags/latex.o
tagmanager/ctags/keyword.o
tagmanager/ctags/js.o
tagmanager/ctags/html.o
tagmanager/ctags/haxe.o
tagmanager/ctags/haskell.o
tagmanager/ctags/get.o
tagmanager/ctags/fortran.o
tagmanager/ctags/abaqus.o
src/stash.o
src/miniz.o
src/main.o
src/log.o
tagmanager/ctags/objc.o
tagmanager/ctags/nsis.o
tagmanager/ctags/nestlevel.o
tagmanager/ctags/matlab.o
tagmanager/ctags/markdown.o
tagmanager/ctags/make.o
tagmanager/ctags/lua.o
tagmanager/ctags/lregex.o
src/win32.o
src/utils.o
src/ui_utils.o
src/tools.o
src/toolbar.o
src/templates.o
src/symbols.o
tagmanager/ctags/tcl.o
tagmanager/ctags/strlist.o
tagmanager/ctags/sql.o
tagmanager/ctags/sort.o
tagmanager/ctags/sh.o
tagmanager/ctags/php.o
tagmanager/ctags/perl.o
tagmanager/ctags/pascal.o
tagmanager/ctags/parse.o
tagmanager/ctags/args.o
tagmanager/ctags/actionscript.o
tagmanager/ctags/abc.o
tagmanager/src/deps.mak
tagmanager/mio/mio.o
tagmanager/mio/mio.a
tagmanager/mio/deps.mak
tagmanager/ctags/vstring.o
tagmanager/ctags/vhdl.o
tagmanager/ctags/verilog.o
tagmanager/ctags/txt2tags.o
src/encodings.o
src/editor.o
src/document.o
src/dialogs.o
src/deps.mak
tagmanager/ctags/ruby.o
tagmanager/ctags/rest.o
tagmanager/ctags/options.o
tagmanager/ctags/python.o
tagmanager/ctags/rust.o
tagmanager/ctags/conf.o
