# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# SVN files
.svn/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon 
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
*.dll
*.exe
data/html5/2D/AGKPlayer.asm.js
data/html5/2D/background.jpg
data/html5/2D/AGKPlayer.html
data/html5/2D/AGKPlayer.html.mem
data/html5/2Ddynamic/AGKPlayer.html
data/html5/2Ddynamic/made-with-appgamekit.png
data/html5/3D/AGKPlayer.js
data/html5/3Ddynamic/AGKPlayer.asm.js
data/html5/3D/made-with-appgamekit.png
data/html5/2D/AGKPlayer.js
data/html5/2D/made-with-appgamekit.png
data/html5/2Ddynamic/AGKPlayer.asm.js
data/html5/2Ddynamic/AGKPlayer.html.mem
data/html5/2Ddynamic/AGKPlayer.js
data/html5/2Ddynamic/background.jpg
data/html5/3D/AGKPlayer.asm.js
data/html5/3D/AGKPlayer.html
data/html5/3D/AGKPlayer.html.mem
data/html5/3D/background.jpg
data/html5/3Ddynamic/AGKPlayer.html
data/html5/3Ddynamic/AGKPlayer.html.mem
data/html5/3Ddynamic/AGKPlayer.js
data/html5/3Ddynamic/background.jpg
data/html5/3Ddynamic/made-with-appgamekit.png
data/android/sourceAmazon/AndroidManifest.xml
data/android/sourceGoogle/AndroidManifest.xml
data/android/sourceOuya/AndroidManifest.xml
