
#include <windows.h> // include for version info constants

#define VER_FILEVERSION             2,0,0,0
#define VER_FILEVERSION_STR         "2.0.0"
#define APP_MANIFEST                1

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "../icons/agk.ico"

VS_VERSION_INFO		VERSIONINFO
FILEVERSION			VER_FILEVERSION
PRODUCTVERSION		VER_FILEVERSION
FILETYPE			VFT_APP
{
	BLOCK "StringFileInfo"
	{
		// U.S. English, Multilingual
		// (see http://msdn.microsoft.com/en-us/library/aa381049%28VS.85%29.aspx)
		BLOCK "040904E4"
		{
			VALUE "CompanyName", "The Game Creators Ltd"
			VALUE "FileVersion", VER_FILEVERSION_STR
			VALUE "FileDescription", "AGK"
			VALUE "InternalName", "AGK"
			VALUE "LegalCopyright", "Copyright 2014 by The Game Creators Ltd"
			VALUE "LegalTrademarks", ""
			VALUE "OriginalFilename", "AGK.exe"
			VALUE "ProductName", "AGK"
			VALUE "ProductVersion", VER_FILEVERSION_STR
		}
	}
}

APP_MANIFEST RT_MANIFEST "agk.exe.manifest"
